
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PRO#</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 60px;
        background-color: #DEDEDA;

      }

       /* Custom container */
      .container {
        margin: 0 auto;
        max-width: 1000px;
      }
      .container > hr {
        margin: 60px 0;
      }

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 0px;
        margin-top: 50px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
       .navbar .navbar-inner {
        padding: 0;
      }
      .navbar .nav {
        margin: 0;
        display: table;
        width: 100%;
      }
      .navbar .nav li {
        display: table-cell;
        width: 1%;
        float: none;
      }
      .navbar .nav li a {
        font-weight: bold;
        text-align: center;
        border-left: 1px solid rgba(255,255,255,.75);
        border-right: 1px solid rgba(0,0,0,.1);
      }
      .navbar .nav li:first-child a {
        border-left: 0;
        border-radius: 3px 0 0 3px;
      }
      .navbar .nav li:last-child a {
        border-right: 0;
        border-radius: 0 3px 3px 0;
      }

    </style>
    <link href="../css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body background="http://i.imgur.com/nGaRqMq.jpg">


         <div class="container">

      <div class="masthead">
        <h3 class="muted"><a href="/">Carrier Selection</a></h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              
                <ul class="nav">
                  <li><a href="/aaacooper/">AAA Cooper</a></li>
                  <li><a href="/abfs/">ABF Freight</a></li>
                  <li><a href="/aduiepyle/">A.Duie Pyle</a></li>
                  <li><a href="/centralfreight/">Central Freight</a></li>
                  <li><a href="/centraltransport/">Central Transp.</a></li>
                  <li><a href="/daytonfreight/">Dayton freight</a></li>
                  <li><a href="/dohrn/">DOHRN Transfer</a></li>
                </ul>
               
            </div>
          </div>
        </div><!-- /.navbar -->

        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              
                <ul class="nav">
          <li><a href="/newengland/">New England</a></li>
          <li><a href="/olddominion/">Old Dominion</a></li>
          <li><a href="/pittohio/">Pitt Ohio</a></li>
          <li><a href="/roadrunner/">Roadrunner</a></li>
          <li><a href="/rlcarriers/">R&L Carriers</a></li>
          <li><a href="/saia/">SAIA</a></li>
          <li><a href="/southeastfreightlines/">South East </a></li>
          <li><a href="/ups/">UPS freight</a></li>        
                </ul>
               
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>

    <div class="container">

      <form class="form-signin" action="/daytonfreight/" method="POST">
        <h3 class="form-signin-heading">Please enter your PRO#</h3>
        <textarea rows="5" type="text" class="input-block-level" placeholder="Up to 50 PRO#'s" name="pronumber"></textarea>
        
        <button class="btn btn-large btn-primary" type="submit">Submit</button>
      </form>

    </div> <!-- /container -->

     <!-- Jumbotron -->
      <div class="jumbotron">
      </div>

      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span4"> 
        </div>
        <div class="span4">  
       </div>
        <div class="span4">
        </div>
      </div>

    <hr>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>